

header {
    background-color: black;
    color:white; 
    height: 200px;
}
p{
    width:90vw; 
}

img{
    width:200px;
    border-radius:100px; 
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 0px 300px 0px 300px;
    padding-top: 25px;
    list-style: none;
}
.logotipo{
margin-top: 40px;    
display:flex;
justify-content: center;    
}
h2{
    text-align: center;
}
.quienes {
    background-color: grey;
    height: 600px; 
}

.servicios{
    background-color: white;
    height: 300px;
}

.trabajos{
    background-color: gray;
    height: 300px;
}

footer{
    background-color: black;
    height:200px; 
    color: white;
}



