

header {
    background-color: #0f1014;
    color:white; 
    height: 200px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin: 0px 300px 0px 300px;
    padding-top: 25px;
    list-style: none;
}

h2{
    text-align: center;
}
.quienes {
    background-color: grey;
    height: 300px;
}

.servicios{
    background-color: white;
    height: 300px;
}

.trabajos{
    background-color: aquamarine;
    height: 300px;
}

footer{
    background-color: black;
    height:200px; 
    color: white;
}



